@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font-h1: 'Passion One', cursive;
    --font-text: 'Sriracha', cursive;
    --font-padrao: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

body {
    font-family: var(--font-padrao);
    background-color: darkgray;
    min-height: 100vh;
}

header {
    text-align: center;
    color: white;
    background-color: black;
}

h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
    font-family: var(--font-h1);
}

h2 {
    padding-bottom: 50px;
    text-decoration: none;
    font-size: 1em;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--font-text);
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-size: 3.5vw;
}

section p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
}

section.imagem p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
}

#img1 {
    background-image: url('../imagens/background001.jpg');
}

#img2 {
    background-image: url('../imagens/background002.jpg');
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}